@font-face {
  font-family:"Lollipoptron" ;
  src: url(../Fonts/Lollipoptron.ttf);
}
#IsLogged{
    font-size: 2.3rem;
    text-align: center;
    width: fit-content;
    float: right;
    border: 8px solid #fff;
    border-radius: 10px ;
    padding: 0;
    margin-top: -0.5rem;
    margin-right: 2vh;
    background-color: #fff;
    display: flex;
    
  }
.login-big-container{
  display: flex;
  justify-content: center;
  align-items: center;
}

#login-container{
  display: block;
  justify-content: center;
  align-items: center;
    text-align: center;

}

#sign-up-container{
  display: block;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#logout-container{
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 3vh;
  margin-left: 1vh;
  display: none;

}


#all-container{
  background: linear-gradient(to left, #30A7A3 15%,#DCEEA4 80%, #DCEEA4 );
  border-radius: 15px ;
  border: 2px solid whitesmoke;
  box-shadow: 0 0 15px 2px white;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width:  fit-content;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 40%;

}
#all-container button{
  align-content: center;
  align-items: center;
  align-self: center ;
  text-align: center;
}

#all-title{
  text-align: center;
}

#state-container{
  position: absolute;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);

}
#AddAnimalMenu{
  display: none;
}

@import url('https://fonts.googleapis.com/css2?family=Playpen+Sans:wght@600&display=swap');
.state-button{
  font-size: x-large;
  color: #fff;
  font-family: 'Playpen Sans', cursive;
  cursor: pointer;
}

#description-container{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  gap: 15vh;
}
#description-container img{
  width: 450px;
  height: 450px;
  
}
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:wght@600&display=swap');
#description-text{
  width: 750px;
  height: 450px;
  overflow-x: auto;
  font-size: x-large;
  color: white;
  font-family: "Lollipoptron";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}











  
  #map {
          height: 30vw;
          width: 60vw;
  
         }
  
         

         /* CSS */
         .button-89 {
           --b: 3px;   /* border thickness */
           --s: .45em; /* size of the corner */
           --color: #373B44;
           
           padding: calc(.5em + var(--s)) calc(.9em + var(--s));
           color: var(--color);
           --_p: var(--s);
           background:
             conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
             var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
           transition: .3s linear, color 0s, background-color 0s;
           outline: var(--b) solid #0000;
           outline-offset: .6em;
           font-size: 16px;
         
           border: 0;
         
           user-select: none;
           -webkit-user-select: none;
           touch-action: manipulation;
         }
         
         .button-89:hover,
         .button-89:focus-visible{
           --_p: 0px;
           outline-color: var(--color);
           outline-offset: .05em;
         }
         
         .button-89:active {
           background: var(--color);
           color: #fff;
         }



    /* Button Style */
    .sign-up-button {
        display: inline-block;
        border: none;
        border-radius: 30px;
        padding: 16px 32px;
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        background-color: #654EA3;
        color: #FFFFFF;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
        transform-origin: center center;
        z-index: 1;
        transition: transform 0.5s ease-in-out;
      }
  
      .sign-up-button:hover {
        transform: rotate(360deg);
      }







      .registration-input {
        display: inline-block;
        width: 170px; /* Adjust the width value as desired */
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 16px;
        color: #333;
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
      }
      
      
      .registration-input:focus {
        outline: none;
        border-color: #0066cc;
      }
      
      .registration-input::placeholder {
        color: #999;
      }
      
      .registration-input[type="submit"] {
        background-color: #0066cc;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease-in-out;
      }
      
      .registration-input[type="submit"]:hover {
        background-color: #004499;
      }



      .coords-input {
        display: inline-block;
        width: 200px; /* Adjust the width value as desired */
        padding: 8px;
        border: none;
        border-radius: 5px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        color: #333;
        background-color: #e6e6fa; /* Light purple background color */
        box-sizing: border-box;
        transition: border-color 0.3s ease-in-out;
      }
      
      .coords-input:focus {
        outline: none;
        border-color: #0066cc;
      }
      
      .coords-input::placeholder {
        color: #999;
      }



      @import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap');

      .bubble-font {
        text-align: start;
        font-family: 'Bubblegum Sans', cursive;
      }




      
      .big-button {
        
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        font-size: 0.7rem;
        color: var(--colorShadeA);
        font-weight: 700;
        text-transform: uppercase;
        font-family: inherit;

        padding: 1em 2em;
        border: 2px solid var(--colorShadeA);
        border-radius: 1em;
        background: var(--colorShadeE);
        transform-style: preserve-3d;
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
      }
      .big-button::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--colorShadeC);
        border-radius: inherit;
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.75em 0 0 var(--colorShadeA);
        transform: translate3d(0, 0.75em, -1em);
        transition: all 175ms cubic-bezier(0, 0, 1, 1);
      }
      
      .big-button:hover {
        background: var(--colorShadeD);
        transform: translate(0, 0.375em);
      }
      
      .big-button:hover::before {
        transform: translate3d(0, 0.75em, -1em);
      }
      
      .big-button:active {
        transform: translate(0em, 0.75em);
      }
      
      .big-button:active::before {
        transform: translate3d(0, 0, -1em);
      
        box-shadow: 0 0 0 2px var(--colorShadeB), 0 0.25em 0 0 var(--colorShadeB);
      }
      :root {
        --backgroundColor: rgba(246, 241, 209);
        --colorShadeA: rgb(133, 106, 163);
        --colorShadeB: rgb(170, 121, 186);
        --colorShadeC: rgb(206, 150, 232);
        --colorShadeD: rgb(222, 187, 232);
        --colorShadeE: rgb(248, 205, 255);
      }
      
      @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
      
      .profile-card {
        display: inline-block;
        align-items: center;
        padding: 5px;
        color: black;
      }
      
      .profile-picture {
        width: 13vh;
        border: 0px solid #fff;
        border-radius: 10px;
      }
      



      .ui-button {
        background-color: #fff;
        border: 0;
        border-radius: 2px;
        box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
        margin: 10px;
        padding: 0 0.5em;
        font: 400 18px Roboto, Arial, sans-serif;
        overflow: hidden;
        height: 40px;
        cursor: pointer;
      }
      .ui-button:hover {
        background: rgb(235, 235, 235);
      }






/****************************/
#description-img {
  place-self: center;
  width: Min(20em, 90vw);
  border: solid 1.25em transparent;
  padding: 0.75em;
  border-radius: 50%;
  background: radial-Gradient(circle at calc(50% + (50% - 0.625em) *1) calc(50% + (50% - 0.625em) *0), #f03355 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em) *0) calc(50% + (50% - 0.625em) *1), #bd0e02 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em) *-1) calc(50% + (50% - 0.625em) *0), #ffa516 calc(0.625em - 1px), transparent 0.625em), radial-Gradient(circle at calc(50% + (50% - 0.625em) *0) calc(50% + (50% - 0.625em) *-1), #fa691b calc(0.625em - 1px), transparent 0.625em), conic-Gradient(#f03355 0% 90deg, #bd0e02 0% 180deg, #ffa516 0% 270deg, #fa691b 0% 360deg);
  background-origin: border-box;
  --mask: radial-Gradient(closest-side, red calc(100% - 1.25em - 0.75em - 1px), transparent calc(100% - 1.25em - 0.75em) calc(100% - 1.25em), red calc(100% - 1.25em + 1px) calc(100% - 1px), transparent);
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


/******************************************/


#stars {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1675px 1733px #FFF , 1481px 1286px #FFF , 1722px 987px #FFF , 1284px 1458px #FFF , 917px 295px #FFF , 201px 1508px #FFF , 886px 826px #FFF , 1998px 1984px #FFF , 1321px 1650px #FFF , 411px 1341px #FFF , 554px 1271px #FFF , 342px 498px #FFF , 1169px 728px #FFF , 1116px 1261px #FFF , 1477px 110px #FFF , 1782px 251px #FFF , 430px 1970px #FFF , 1541px 1875px #FFF , 749px 157px #FFF , 1088px 1380px #FFF , 1267px 921px #FFF , 731px 696px #FFF , 1865px 392px #FFF , 202px 72px #FFF , 1266px 156px #FFF , 688px 626px #FFF , 386px 1593px #FFF , 1492px 859px #FFF , 1417px 1860px #FFF , 279px 1122px #FFF , 1549px 1772px #FFF , 1935px 850px #FFF , 18px 756px #FFF , 424px 330px #FFF , 124px 1430px #FFF , 64px 1405px #FFF , 1890px 1508px #FFF , 398px 29px #FFF , 1707px 542px #FFF , 843px 719px #FFF , 204px 619px #FFF , 1525px 1085px #FFF , 1362px 708px #FFF , 940px 451px #FFF , 994px 1770px #FFF , 490px 169px #FFF , 933px 1045px #FFF , 1711px 818px #FFF , 267px 1659px #FFF , 319px 58px #FFF , 1417px 1248px #FFF , 1042px 477px #FFF , 1296px 320px #FFF , 162px 1991px #FFF , 1079px 248px #FFF , 1694px 13px #FFF , 928px 537px #FFF , 647px 1861px #FFF , 364px 508px #FFF , 154px 911px #FFF , 1775px 316px #FFF , 1721px 1984px #FFF , 1273px 721px #FFF , 1252px 1931px #FFF , 1028px 915px #FFF , 1787px 1736px #FFF , 748px 1483px #FFF , 1950px 1662px #FFF , 1757px 1015px #FFF , 590px 1667px #FFF , 99px 1406px #FFF , 1685px 1583px #FFF , 1643px 1112px #FFF , 324px 704px #FFF , 1824px 31px #FFF , 1162px 637px #FFF , 1524px 130px #FFF , 1348px 933px #FFF , 1441px 1529px #FFF , 133px 722px #FFF , 360px 644px #FFF , 631px 1067px #FFF , 1385px 349px #FFF , 1920px 878px #FFF , 1675px 1408px #FFF , 1590px 1203px #FFF , 1692px 812px #FFF , 387px 1436px #FFF , 146px 495px #FFF , 1554px 953px #FFF , 33px 1122px #FFF , 160px 460px #FFF , 547px 1708px #FFF , 1035px 780px #FFF , 1412px 1411px #FFF , 924px 1684px #FFF , 49px 106px #FFF , 392px 275px #FFF , 519px 1269px #FFF , 1326px 985px #FFF , 336px 376px #FFF , 1532px 1039px #FFF , 769px 975px #FFF , 1848px 1171px #FFF , 546px 1694px #FFF , 1394px 1374px #FFF , 1815px 482px #FFF , 2px 54px #FFF , 1240px 241px #FFF , 331px 1774px #FFF , 1773px 1385px #FFF , 866px 839px #FFF , 505px 356px #FFF , 8px 113px #FFF , 1691px 639px #FFF , 763px 998px #FFF , 1057px 1957px #FFF , 1505px 920px #FFF , 71px 1408px #FFF , 1208px 1130px #FFF , 1537px 1063px #FFF , 1181px 1973px #FFF , 1361px 444px #FFF , 1179px 1925px #FFF , 289px 137px #FFF , 1136px 95px #FFF , 1666px 1462px #FFF , 1284px 423px #FFF , 174px 1565px #FFF , 1072px 1720px #FFF , 745px 1414px #FFF , 1340px 1005px #FFF , 1053px 1721px #FFF , 374px 1058px #FFF , 759px 352px #FFF , 1506px 1737px #FFF , 892px 1790px #FFF , 948px 1652px #FFF , 1237px 591px #FFF , 1074px 519px #FFF , 1416px 1072px #FFF , 1107px 1007px #FFF , 1045px 1987px #FFF , 660px 649px #FFF , 1272px 332px #FFF , 1938px 1026px #FFF , 1682px 571px #FFF , 546px 1885px #FFF , 1508px 1223px #FFF , 322px 1723px #FFF , 1472px 294px #FFF , 117px 720px #FFF , 1831px 1263px #FFF , 1832px 445px #FFF , 111px 1539px #FFF , 319px 1783px #FFF , 1101px 777px #FFF , 353px 1780px #FFF , 851px 679px #FFF , 1141px 779px #FFF , 1280px 77px #FFF , 1144px 1598px #FFF , 585px 1220px #FFF , 1372px 757px #FFF , 433px 50px #FFF , 168px 1042px #FFF , 1791px 1375px #FFF , 1263px 1805px #FFF , 1700px 799px #FFF , 1111px 1037px #FFF , 684px 1221px #FFF , 1356px 1922px #FFF , 187px 330px #FFF , 993px 1353px #FFF , 305px 1399px #FFF , 203px 582px #FFF , 1113px 1053px #FFF , 1714px 276px #FFF , 1814px 1618px #FFF , 1145px 556px #FFF , 100px 107px #FFF , 1855px 1810px #FFF , 1511px 633px #FFF , 1907px 286px #FFF , 1424px 1800px #FFF , 1689px 3px #FFF , 1615px 228px #FFF , 673px 915px #FFF , 538px 699px #FFF , 1054px 1723px #FFF , 92px 374px #FFF , 998px 329px #FFF , 1582px 1564px #FFF , 956px 666px #FFF , 1081px 902px #FFF , 1780px 758px #FFF , 438px 1246px #FFF , 1979px 1944px #FFF , 1291px 1470px #FFF , 210px 1196px #FFF , 1297px 1672px #FFF , 1216px 300px #FFF , 1409px 837px #FFF , 1581px 514px #FFF , 297px 628px #FFF , 1253px 950px #FFF , 455px 165px #FFF , 531px 363px #FFF , 799px 1909px #FFF , 1135px 1451px #FFF , 1906px 1877px #FFF , 705px 740px #FFF , 1367px 268px #FFF , 992px 877px #FFF , 1475px 738px #FFF , 1772px 1502px #FFF , 827px 365px #FFF , 1938px 1213px #FFF , 1577px 280px #FFF , 1251px 1961px #FFF , 1421px 766px #FFF , 612px 607px #FFF , 361px 1469px #FFF , 656px 1401px #FFF , 1965px 1601px #FFF , 280px 1975px #FFF , 773px 654px #FFF , 2px 26px #FFF , 1096px 467px #FFF , 60px 356px #FFF , 1938px 220px #FFF , 1262px 839px #FFF , 829px 987px #FFF , 433px 1030px #FFF , 1631px 358px #FFF , 712px 711px #FFF , 1394px 1494px #FFF , 482px 209px #FFF , 1512px 958px #FFF , 119px 26px #FFF , 827px 1342px #FFF , 779px 1372px #FFF , 605px 505px #FFF , 325px 708px #FFF , 944px 230px #FFF , 1152px 1815px #FFF , 778px 602px #FFF , 809px 1221px #FFF , 1259px 1313px #FFF , 1532px 1616px #FFF , 1875px 316px #FFF , 222px 1057px #FFF , 817px 515px #FFF , 63px 1825px #FFF , 1992px 714px #FFF , 1976px 565px #FFF , 1758px 312px #FFF , 992px 1093px #FFF , 357px 1962px #FFF , 126px 1663px #FFF , 300px 1799px #FFF , 628px 710px #FFF , 1252px 963px #FFF , 1003px 313px #FFF , 226px 1386px #FFF , 1723px 395px #FFF , 1147px 977px #FFF , 313px 1003px #FFF , 1382px 965px #FFF , 1232px 1166px #FFF , 1577px 1707px #FFF , 978px 628px #FFF , 506px 797px #FFF , 342px 718px #FFF , 1107px 412px #FFF , 157px 121px #FFF , 1364px 283px #FFF , 1562px 1290px #FFF , 1037px 1466px #FFF , 1113px 1806px #FFF , 1637px 1441px #FFF , 1626px 1838px #FFF , 1428px 1567px #FFF , 1193px 131px #FFF , 911px 379px #FFF , 1735px 193px #FFF , 41px 512px #FFF , 234px 1050px #FFF , 1770px 344px #FFF , 1314px 823px #FFF , 233px 1010px #FFF , 922px 1607px #FFF , 469px 1851px #FFF , 1744px 2000px #FFF , 695px 607px #FFF , 1303px 1483px #FFF , 917px 1113px #FFF , 1095px 1977px #FFF , 160px 557px #FFF , 539px 761px #FFF , 403px 1374px #FFF , 774px 856px #FFF , 288px 1684px #FFF , 430px 946px #FFF , 1426px 748px #FFF , 101px 344px #FFF , 1878px 1748px #FFF , 1px 248px #FFF , 1959px 354px #FFF , 1783px 448px #FFF , 1258px 1980px #FFF , 513px 102px #FFF , 1871px 699px #FFF , 494px 1178px #FFF , 377px 935px #FFF , 311px 877px #FFF , 833px 716px #FFF , 1689px 697px #FFF , 904px 118px #FFF , 1800px 346px #FFF , 28px 1681px #FFF , 1352px 1263px #FFF , 115px 447px #FFF , 1405px 1384px #FFF , 92px 1639px #FFF , 1923px 944px #FFF , 261px 1002px #FFF , 904px 21px #FFF , 1936px 1521px #FFF , 15px 516px #FFF , 194px 215px #FFF , 625px 385px #FFF , 1579px 842px #FFF , 75px 813px #FFF , 1398px 1338px #FFF , 698px 1580px #FFF , 685px 289px #FFF , 189px 187px #FFF , 1111px 1513px #FFF , 446px 1989px #FFF , 45px 121px #FFF , 1918px 1052px #FFF , 1056px 1212px #FFF , 1347px 819px #FFF , 755px 678px #FFF , 257px 362px #FFF , 455px 1335px #FFF , 816px 1031px #FFF , 940px 1422px #FFF , 1570px 451px #FFF , 1940px 1166px #FFF , 251px 1680px #FFF , 1975px 1935px #FFF , 177px 1812px #FFF , 737px 1214px #FFF , 1291px 1195px #FFF , 1462px 421px #FFF , 1904px 1786px #FFF , 1161px 1778px #FFF , 79px 565px #FFF , 439px 1679px #FFF , 1772px 1794px #FFF , 641px 242px #FFF , 1434px 1654px #FFF , 1237px 274px #FFF , 1623px 1408px #FFF , 1170px 1586px #FFF , 1156px 1689px #FFF , 269px 844px #FFF , 1360px 1161px #FFF , 144px 334px #FFF , 970px 404px #FFF , 422px 786px #FFF , 1920px 1815px #FFF , 1696px 1751px #FFF , 1840px 140px #FFF , 1254px 1054px #FFF , 733px 1773px #FFF , 782px 907px #FFF , 475px 319px #FFF , 1137px 848px #FFF , 580px 480px #FFF , 802px 225px #FFF , 277px 1013px #FFF , 842px 905px #FFF , 192px 510px #FFF , 979px 535px #FFF , 699px 1830px #FFF , 390px 443px #FFF , 222px 172px #FFF , 1700px 828px #FFF , 544px 597px #FFF , 577px 865px #FFF , 553px 1798px #FFF , 168px 501px #FFF , 354px 1636px #FFF , 1099px 1144px #FFF , 1767px 1669px #FFF , 196px 383px #FFF , 661px 1753px #FFF , 68px 1307px #FFF , 370px 1208px #FFF , 1646px 603px #FFF , 701px 379px #FFF , 237px 346px #FFF , 1765px 1660px #FFF , 329px 1029px #FFF , 1608px 873px #FFF , 1783px 518px #FFF , 1033px 302px #FFF , 309px 1760px #FFF , 194px 351px #FFF , 843px 742px #FFF , 1037px 553px #FFF , 1591px 1819px #FFF , 227px 447px #FFF , 549px 5px #FFF , 1055px 57px #FFF , 1352px 1639px #FFF , 412px 1469px #FFF , 38px 1071px #FFF , 1436px 1109px #FFF , 1162px 1937px #FFF , 922px 825px #FFF , 1383px 1786px #FFF , 1px 1275px #FFF , 1784px 1528px #FFF , 1013px 1704px #FFF , 419px 38px #FFF , 984px 1669px #FFF , 1061px 451px #FFF , 283px 994px #FFF , 1613px 1362px #FFF , 1780px 573px #FFF , 1524px 543px #FFF , 482px 1271px #FFF , 283px 834px #FFF , 260px 1315px #FFF , 491px 456px #FFF , 363px 1244px #FFF , 1475px 1233px #FFF , 505px 630px #FFF , 1712px 1650px #FFF , 1393px 541px #FFF , 216px 1849px #FFF , 552px 1305px #FFF , 1552px 672px #FFF , 512px 1208px #FFF , 351px 1032px #FFF , 565px 118px #FFF , 1805px 322px #FFF , 1040px 1784px #FFF , 1281px 1059px #FFF , 235px 1110px #FFF , 1480px 447px #FFF , 1532px 787px #FFF , 400px 1137px #FFF , 1296px 1417px #FFF , 714px 1677px #FFF , 1772px 1678px #FFF , 1195px 1344px #FFF , 324px 175px #FFF , 1824px 96px #FFF , 711px 513px #FFF , 264px 709px #FFF , 282px 296px #FFF , 1007px 102px #FFF , 955px 1006px #FFF , 1383px 1324px #FFF , 108px 1443px #FFF , 295px 274px #FFF , 1983px 510px #FFF , 1351px 707px #FFF , 505px 1429px #FFF , 355px 557px #FFF , 1288px 1357px #FFF , 1134px 349px #FFF , 1561px 954px #FFF , 1690px 1049px #FFF , 497px 683px #FFF , 1371px 1452px #FFF , 1678px 536px #FFF , 312px 1632px #FFF , 1827px 1109px #FFF , 1456px 665px #FFF , 316px 387px #FFF , 1180px 988px #FFF , 16px 1289px #FFF , 1818px 862px #FFF , 1149px 1730px #FFF , 1892px 367px #FFF , 203px 1245px #FFF , 427px 930px #FFF , 1235px 1874px #FFF , 1451px 553px #FFF , 1339px 535px #FFF , 819px 821px #FFF , 749px 603px #FFF , 612px 726px #FFF , 435px 24px #FFF , 747px 139px #FFF , 1247px 1430px #FFF , 263px 1684px #FFF , 1960px 1430px #FFF , 1976px 838px #FFF , 431px 831px #FFF , 1965px 272px #FFF , 81px 216px #FFF , 337px 962px #FFF , 426px 1059px #FFF , 1817px 1434px #FFF , 1191px 583px #FFF , 1246px 1975px #FFF , 205px 142px #FFF , 1952px 1142px #FFF , 1948px 424px #FFF , 154px 184px #FFF , 1760px 591px #FFF , 1164px 590px #FFF , 699px 1064px #FFF , 1261px 296px #FFF , 1325px 160px #FFF , 909px 1612px #FFF , 1899px 973px #FFF , 1250px 1194px #FFF , 460px 1471px #FFF , 1794px 911px #FFF , 298px 1689px #FFF , 515px 1783px #FFF , 1697px 471px #FFF , 1155px 364px #FFF , 958px 712px #FFF , 1160px 261px #FFF , 695px 1227px #FFF , 269px 1155px #FFF , 1271px 1594px #FFF , 134px 122px #FFF , 975px 1373px #FFF , 1863px 908px #FFF , 1390px 765px #FFF , 714px 1218px #FFF , 305px 267px #FFF , 1988px 579px #FFF , 1219px 15px #FFF , 1842px 1766px #FFF , 1902px 1709px #FFF , 1011px 299px #FFF , 1262px 1284px #FFF , 1351px 83px #FFF , 1680px 668px #FFF , 446px 1939px #FFF , 1565px 460px #FFF , 1371px 28px #FFF , 1828px 264px #FFF , 677px 1309px #FFF , 1407px 602px #FFF , 842px 1784px #FFF , 1419px 1584px #FFF , 1841px 552px #FFF , 1705px 1326px #FFF , 900px 58px #FFF , 1044px 1145px #FFF , 680px 1531px #FFF , 1679px 480px #FFF , 1736px 925px #FFF , 806px 1955px #FFF , 355px 1247px #FFF , 1677px 880px #FFF , 739px 1715px #FFF , 838px 809px #FFF , 176px 755px #FFF , 56px 630px #FFF , 937px 1197px #FFF , 1985px 1277px #FFF , 1812px 1095px #FFF , 426px 482px #FFF , 1260px 340px #FFF , 1310px 1185px #FFF , 648px 740px #FFF , 1779px 212px #FFF , 547px 1432px #FFF , 1402px 1421px #FFF , 827px 143px #FFF , 927px 1965px #FFF , 1125px 212px #FFF , 1846px 1856px #FFF , 1919px 1807px #FFF , 1597px 433px #FFF , 1130px 970px #FFF , 486px 1631px #FFF , 1301px 1778px #FFF , 1497px 80px #FFF , 1739px 459px #FFF , 581px 308px #FFF , 1726px 188px #FFF , 1776px 1063px #FFF , 1738px 159px #FFF , 298px 327px #FFF , 569px 776px #FFF , 514px 1546px #FFF , 1148px 490px #FFF , 1959px 866px #FFF , 484px 272px #FFF , 1245px 1218px #FFF , 1501px 1303px #FFF , 466px 1667px #FFF , 1451px 1350px #FFF , 1883px 597px #FFF , 1006px 303px #FFF , 109px 228px #FFF , 887px 1784px #FFF , 370px 959px #FFF , 184px 1217px #FFF , 1495px 273px #FFF , 171px 452px #FFF , 1819px 1517px #FFF , 374px 1463px #FFF , 551px 1591px #FFF , 1949px 1813px #FFF , 960px 653px #FFF , 1131px 1298px #FFF , 539px 1591px #FFF , 1774px 162px #FFF , 397px 79px #FFF , 1790px 1232px #FFF , 1415px 1603px #FFF , 1620px 1785px #FFF , 1304px 1533px #FFF , 1257px 67px #FFF , 1805px 481px #FFF , 1255px 1214px #FFF , 946px 968px #FFF , 659px 842px #FFF , 956px 68px #FFF , 609px 534px #FFF , 1253px 1758px #FFF , 8px 252px #FFF , 1914px 272px #FFF , 665px 776px #FFF , 552px 911px #FFF , 1685px 647px #FFF , 1128px 1647px #FFF , 801px 207px #FFF , 1245px 1307px #FFF , 1830px 297px #FFF , 1564px 289px #FFF , 661px 1420px #FFF , 21px 1212px #FFF , 1831px 1653px #FFF , 1231px 1644px #FFF , 1615px 1426px #FFF , 1231px 1658px #FFF , 509px 223px #FFF , 641px 1152px #FFF , 1276px 974px #FFF , 230px 807px #FFF , 924px 1834px #FFF , 1495px 147px #FFF , 598px 1498px #FFF , 1272px 986px #FFF , 796px 1109px #FFF , 1509px 1287px #FFF , 1768px 657px #FFF , 498px 636px #FFF , 1640px 251px #FFF , 244px 1892px #FFF , 843px 23px #FFF , 1305px 1095px #FFF , 7px 1391px #FFF , 1479px 1316px #FFF , 1451px 25px #FFF , 152px 842px #FFF , 1319px 519px #FFF , 993px 571px #FFF , 1317px 936px #FFF , 702px 1743px #FFF , 104px 767px #FFF , 1642px 899px #FFF , 1614px 1719px #FFF , 615px 169px #FFF , 1198px 1832px #FFF , 1476px 1838px #FFF , 1681px 1541px #FFF , 598px 1519px #FFF , 134px 873px #FFF , 657px 316px #FFF , 1860px 508px #FFF , 1502px 1237px #FFF , 1802px 130px #FFF , 620px 1026px #FFF , 1942px 1741px #FFF , 1134px 1262px #FFF , 298px 374px #FFF , 822px 654px #FFF , 1880px 1379px #FFF , 1610px 958px #FFF , 1342px 728px #FFF , 1972px 910px #FFF , 1767px 329px #FFF , 470px 514px #FFF;
  animation: animStar 50s linear infinite;
}
#stars:after {
  content: " ";
  position: absolute;
  top: 0px;
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: 1675px 1733px #FFF , 1481px 1286px #FFF , 1722px 987px #FFF , 1284px 1458px #FFF , 917px 295px #FFF , 201px 1508px #FFF , 886px 826px #FFF , 1998px 1984px #FFF , 1321px 1650px #FFF , 411px 1341px #FFF , 554px 1271px #FFF , 342px 498px #FFF , 1169px 728px #FFF , 1116px 1261px #FFF , 1477px 110px #FFF , 1782px 251px #FFF , 430px 1970px #FFF , 1541px 1875px #FFF , 749px 157px #FFF , 1088px 1380px #FFF , 1267px 921px #FFF , 731px 696px #FFF , 1865px 392px #FFF , 202px 72px #FFF , 1266px 156px #FFF , 688px 626px #FFF , 386px 1593px #FFF , 1492px 859px #FFF , 1417px 1860px #FFF , 279px 1122px #FFF , 1549px 1772px #FFF , 1935px 850px #FFF , 18px 756px #FFF , 424px 330px #FFF , 124px 1430px #FFF , 64px 1405px #FFF , 1890px 1508px #FFF , 398px 29px #FFF , 1707px 542px #FFF , 843px 719px #FFF , 204px 619px #FFF , 1525px 1085px #FFF , 1362px 708px #FFF , 940px 451px #FFF , 994px 1770px #FFF , 490px 169px #FFF , 933px 1045px #FFF , 1711px 818px #FFF , 267px 1659px #FFF , 319px 58px #FFF , 1417px 1248px #FFF , 1042px 477px #FFF , 1296px 320px #FFF , 162px 1991px #FFF , 1079px 248px #FFF , 1694px 13px #FFF , 928px 537px #FFF , 647px 1861px #FFF , 364px 508px #FFF , 154px 911px #FFF , 1775px 316px #FFF , 1721px 1984px #FFF , 1273px 721px #FFF , 1252px 1931px #FFF , 1028px 915px #FFF , 1787px 1736px #FFF , 748px 1483px #FFF , 1950px 1662px #FFF , 1757px 1015px #FFF , 590px 1667px #FFF , 99px 1406px #FFF , 1685px 1583px #FFF , 1643px 1112px #FFF , 324px 704px #FFF , 1824px 31px #FFF , 1162px 637px #FFF , 1524px 130px #FFF , 1348px 933px #FFF , 1441px 1529px #FFF , 133px 722px #FFF , 360px 644px #FFF , 631px 1067px #FFF , 1385px 349px #FFF , 1920px 878px #FFF , 1675px 1408px #FFF , 1590px 1203px #FFF , 1692px 812px #FFF , 387px 1436px #FFF , 146px 495px #FFF , 1554px 953px #FFF , 33px 1122px #FFF , 160px 460px #FFF , 547px 1708px #FFF , 1035px 780px #FFF , 1412px 1411px #FFF , 924px 1684px #FFF , 49px 106px #FFF , 392px 275px #FFF , 519px 1269px #FFF , 1326px 985px #FFF , 336px 376px #FFF , 1532px 1039px #FFF , 769px 975px #FFF , 1848px 1171px #FFF , 546px 1694px #FFF , 1394px 1374px #FFF , 1815px 482px #FFF , 2px 54px #FFF , 1240px 241px #FFF , 331px 1774px #FFF , 1773px 1385px #FFF , 866px 839px #FFF , 505px 356px #FFF , 8px 113px #FFF , 1691px 639px #FFF , 763px 998px #FFF , 1057px 1957px #FFF , 1505px 920px #FFF , 71px 1408px #FFF , 1208px 1130px #FFF , 1537px 1063px #FFF , 1181px 1973px #FFF , 1361px 444px #FFF , 1179px 1925px #FFF , 289px 137px #FFF , 1136px 95px #FFF , 1666px 1462px #FFF , 1284px 423px #FFF , 174px 1565px #FFF , 1072px 1720px #FFF , 745px 1414px #FFF , 1340px 1005px #FFF , 1053px 1721px #FFF , 374px 1058px #FFF , 759px 352px #FFF , 1506px 1737px #FFF , 892px 1790px #FFF , 948px 1652px #FFF , 1237px 591px #FFF , 1074px 519px #FFF , 1416px 1072px #FFF , 1107px 1007px #FFF , 1045px 1987px #FFF , 660px 649px #FFF , 1272px 332px #FFF , 1938px 1026px #FFF , 1682px 571px #FFF , 546px 1885px #FFF , 1508px 1223px #FFF , 322px 1723px #FFF , 1472px 294px #FFF , 117px 720px #FFF , 1831px 1263px #FFF , 1832px 445px #FFF , 111px 1539px #FFF , 319px 1783px #FFF , 1101px 777px #FFF , 353px 1780px #FFF , 851px 679px #FFF , 1141px 779px #FFF , 1280px 77px #FFF , 1144px 1598px #FFF , 585px 1220px #FFF , 1372px 757px #FFF , 433px 50px #FFF , 168px 1042px #FFF , 1791px 1375px #FFF , 1263px 1805px #FFF , 1700px 799px #FFF , 1111px 1037px #FFF , 684px 1221px #FFF , 1356px 1922px #FFF , 187px 330px #FFF , 993px 1353px #FFF , 305px 1399px #FFF , 203px 582px #FFF , 1113px 1053px #FFF , 1714px 276px #FFF , 1814px 1618px #FFF , 1145px 556px #FFF , 100px 107px #FFF , 1855px 1810px #FFF , 1511px 633px #FFF , 1907px 286px #FFF , 1424px 1800px #FFF , 1689px 3px #FFF , 1615px 228px #FFF , 673px 915px #FFF , 538px 699px #FFF , 1054px 1723px #FFF , 92px 374px #FFF , 998px 329px #FFF , 1582px 1564px #FFF , 956px 666px #FFF , 1081px 902px #FFF , 1780px 758px #FFF , 438px 1246px #FFF , 1979px 1944px #FFF , 1291px 1470px #FFF , 210px 1196px #FFF , 1297px 1672px #FFF , 1216px 300px #FFF , 1409px 837px #FFF , 1581px 514px #FFF , 297px 628px #FFF , 1253px 950px #FFF , 455px 165px #FFF , 531px 363px #FFF , 799px 1909px #FFF , 1135px 1451px #FFF , 1906px 1877px #FFF , 705px 740px #FFF , 1367px 268px #FFF , 992px 877px #FFF , 1475px 738px #FFF , 1772px 1502px #FFF , 827px 365px #FFF , 1938px 1213px #FFF , 1577px 280px #FFF , 1251px 1961px #FFF , 1421px 766px #FFF , 612px 607px #FFF , 361px 1469px #FFF , 656px 1401px #FFF , 1965px 1601px #FFF , 280px 1975px #FFF , 773px 654px #FFF , 2px 26px #FFF , 1096px 467px #FFF , 60px 356px #FFF , 1938px 220px #FFF , 1262px 839px #FFF , 829px 987px #FFF , 433px 1030px #FFF , 1631px 358px #FFF , 712px 711px #FFF , 1394px 1494px #FFF , 482px 209px #FFF , 1512px 958px #FFF , 119px 26px #FFF , 827px 1342px #FFF , 779px 1372px #FFF , 605px 505px #FFF , 325px 708px #FFF , 944px 230px #FFF , 1152px 1815px #FFF , 778px 602px #FFF , 809px 1221px #FFF , 1259px 1313px #FFF , 1532px 1616px #FFF , 1875px 316px #FFF , 222px 1057px #FFF , 817px 515px #FFF , 63px 1825px #FFF , 1992px 714px #FFF , 1976px 565px #FFF , 1758px 312px #FFF , 992px 1093px #FFF , 357px 1962px #FFF , 126px 1663px #FFF , 300px 1799px #FFF , 628px 710px #FFF , 1252px 963px #FFF , 1003px 313px #FFF , 226px 1386px #FFF , 1723px 395px #FFF , 1147px 977px #FFF , 313px 1003px #FFF , 1382px 965px #FFF , 1232px 1166px #FFF , 1577px 1707px #FFF , 978px 628px #FFF , 506px 797px #FFF , 342px 718px #FFF , 1107px 412px #FFF , 157px 121px #FFF , 1364px 283px #FFF , 1562px 1290px #FFF , 1037px 1466px #FFF , 1113px 1806px #FFF , 1637px 1441px #FFF , 1626px 1838px #FFF , 1428px 1567px #FFF , 1193px 131px #FFF , 911px 379px #FFF , 1735px 193px #FFF , 41px 512px #FFF , 234px 1050px #FFF , 1770px 344px #FFF , 1314px 823px #FFF , 233px 1010px #FFF , 922px 1607px #FFF , 469px 1851px #FFF , 1744px 2000px #FFF , 695px 607px #FFF , 1303px 1483px #FFF , 917px 1113px #FFF , 1095px 1977px #FFF , 160px 557px #FFF , 539px 761px #FFF , 403px 1374px #FFF , 774px 856px #FFF , 288px 1684px #FFF , 430px 946px #FFF , 1426px 748px #FFF , 101px 344px #FFF , 1878px 1748px #FFF , 1px 248px #FFF , 1959px 354px #FFF , 1783px 448px #FFF , 1258px 1980px #FFF , 513px 102px #FFF , 1871px 699px #FFF , 494px 1178px #FFF , 377px 935px #FFF , 311px 877px #FFF , 833px 716px #FFF , 1689px 697px #FFF , 904px 118px #FFF , 1800px 346px #FFF , 28px 1681px #FFF , 1352px 1263px #FFF , 115px 447px #FFF , 1405px 1384px #FFF , 92px 1639px #FFF , 1923px 944px #FFF , 261px 1002px #FFF , 904px 21px #FFF , 1936px 1521px #FFF , 15px 516px #FFF , 194px 215px #FFF , 625px 385px #FFF , 1579px 842px #FFF , 75px 813px #FFF , 1398px 1338px #FFF , 698px 1580px #FFF , 685px 289px #FFF , 189px 187px #FFF , 1111px 1513px #FFF , 446px 1989px #FFF , 45px 121px #FFF , 1918px 1052px #FFF , 1056px 1212px #FFF , 1347px 819px #FFF , 755px 678px #FFF , 257px 362px #FFF , 455px 1335px #FFF , 816px 1031px #FFF , 940px 1422px #FFF , 1570px 451px #FFF , 1940px 1166px #FFF , 251px 1680px #FFF , 1975px 1935px #FFF , 177px 1812px #FFF , 737px 1214px #FFF , 1291px 1195px #FFF , 1462px 421px #FFF , 1904px 1786px #FFF , 1161px 1778px #FFF , 79px 565px #FFF , 439px 1679px #FFF , 1772px 1794px #FFF , 641px 242px #FFF , 1434px 1654px #FFF , 1237px 274px #FFF , 1623px 1408px #FFF , 1170px 1586px #FFF , 1156px 1689px #FFF , 269px 844px #FFF , 1360px 1161px #FFF , 144px 334px #FFF , 970px 404px #FFF , 422px 786px #FFF , 1920px 1815px #FFF , 1696px 1751px #FFF , 1840px 140px #FFF , 1254px 1054px #FFF , 733px 1773px #FFF , 782px 907px #FFF , 475px 319px #FFF , 1137px 848px #FFF , 580px 480px #FFF , 802px 225px #FFF , 277px 1013px #FFF , 842px 905px #FFF , 192px 510px #FFF , 979px 535px #FFF , 699px 1830px #FFF , 390px 443px #FFF , 222px 172px #FFF , 1700px 828px #FFF , 544px 597px #FFF , 577px 865px #FFF , 553px 1798px #FFF , 168px 501px #FFF , 354px 1636px #FFF , 1099px 1144px #FFF , 1767px 1669px #FFF , 196px 383px #FFF , 661px 1753px #FFF , 68px 1307px #FFF , 370px 1208px #FFF , 1646px 603px #FFF , 701px 379px #FFF , 237px 346px #FFF , 1765px 1660px #FFF , 329px 1029px #FFF , 1608px 873px #FFF , 1783px 518px #FFF , 1033px 302px #FFF , 309px 1760px #FFF , 194px 351px #FFF , 843px 742px #FFF , 1037px 553px #FFF , 1591px 1819px #FFF , 227px 447px #FFF , 549px 5px #FFF , 1055px 57px #FFF , 1352px 1639px #FFF , 412px 1469px #FFF , 38px 1071px #FFF , 1436px 1109px #FFF , 1162px 1937px #FFF , 922px 825px #FFF , 1383px 1786px #FFF , 1px 1275px #FFF , 1784px 1528px #FFF , 1013px 1704px #FFF , 419px 38px #FFF , 984px 1669px #FFF , 1061px 451px #FFF , 283px 994px #FFF , 1613px 1362px #FFF , 1780px 573px #FFF , 1524px 543px #FFF , 482px 1271px #FFF , 283px 834px #FFF , 260px 1315px #FFF , 491px 456px #FFF , 363px 1244px #FFF , 1475px 1233px #FFF , 505px 630px #FFF , 1712px 1650px #FFF , 1393px 541px #FFF , 216px 1849px #FFF , 552px 1305px #FFF , 1552px 672px #FFF , 512px 1208px #FFF , 351px 1032px #FFF , 565px 118px #FFF , 1805px 322px #FFF , 1040px 1784px #FFF , 1281px 1059px #FFF , 235px 1110px #FFF , 1480px 447px #FFF , 1532px 787px #FFF , 400px 1137px #FFF , 1296px 1417px #FFF , 714px 1677px #FFF , 1772px 1678px #FFF , 1195px 1344px #FFF , 324px 175px #FFF , 1824px 96px #FFF , 711px 513px #FFF , 264px 709px #FFF , 282px 296px #FFF , 1007px 102px #FFF , 955px 1006px #FFF , 1383px 1324px #FFF , 108px 1443px #FFF , 295px 274px #FFF , 1983px 510px #FFF , 1351px 707px #FFF , 505px 1429px #FFF , 355px 557px #FFF , 1288px 1357px #FFF , 1134px 349px #FFF , 1561px 954px #FFF , 1690px 1049px #FFF , 497px 683px #FFF , 1371px 1452px #FFF , 1678px 536px #FFF , 312px 1632px #FFF , 1827px 1109px #FFF , 1456px 665px #FFF , 316px 387px #FFF , 1180px 988px #FFF , 16px 1289px #FFF , 1818px 862px #FFF , 1149px 1730px #FFF , 1892px 367px #FFF , 203px 1245px #FFF , 427px 930px #FFF , 1235px 1874px #FFF , 1451px 553px #FFF , 1339px 535px #FFF , 819px 821px #FFF , 749px 603px #FFF , 612px 726px #FFF , 435px 24px #FFF , 747px 139px #FFF , 1247px 1430px #FFF , 263px 1684px #FFF , 1960px 1430px #FFF , 1976px 838px #FFF , 431px 831px #FFF , 1965px 272px #FFF , 81px 216px #FFF , 337px 962px #FFF , 426px 1059px #FFF , 1817px 1434px #FFF , 1191px 583px #FFF , 1246px 1975px #FFF , 205px 142px #FFF , 1952px 1142px #FFF , 1948px 424px #FFF , 154px 184px #FFF , 1760px 591px #FFF , 1164px 590px #FFF , 699px 1064px #FFF , 1261px 296px #FFF , 1325px 160px #FFF , 909px 1612px #FFF , 1899px 973px #FFF , 1250px 1194px #FFF , 460px 1471px #FFF , 1794px 911px #FFF , 298px 1689px #FFF , 515px 1783px #FFF , 1697px 471px #FFF , 1155px 364px #FFF , 958px 712px #FFF , 1160px 261px #FFF , 695px 1227px #FFF , 269px 1155px #FFF , 1271px 1594px #FFF , 134px 122px #FFF , 975px 1373px #FFF , 1863px 908px #FFF , 1390px 765px #FFF , 714px 1218px #FFF , 305px 267px #FFF , 1988px 579px #FFF , 1219px 15px #FFF , 1842px 1766px #FFF , 1902px 1709px #FFF , 1011px 299px #FFF , 1262px 1284px #FFF , 1351px 83px #FFF , 1680px 668px #FFF , 446px 1939px #FFF , 1565px 460px #FFF , 1371px 28px #FFF , 1828px 264px #FFF , 677px 1309px #FFF , 1407px 602px #FFF , 842px 1784px #FFF , 1419px 1584px #FFF , 1841px 552px #FFF , 1705px 1326px #FFF , 900px 58px #FFF , 1044px 1145px #FFF , 680px 1531px #FFF , 1679px 480px #FFF , 1736px 925px #FFF , 806px 1955px #FFF , 355px 1247px #FFF , 1677px 880px #FFF , 739px 1715px #FFF , 838px 809px #FFF , 176px 755px #FFF , 56px 630px #FFF , 937px 1197px #FFF , 1985px 1277px #FFF , 1812px 1095px #FFF , 426px 482px #FFF , 1260px 340px #FFF , 1310px 1185px #FFF , 648px 740px #FFF , 1779px 212px #FFF , 547px 1432px #FFF , 1402px 1421px #FFF , 827px 143px #FFF , 927px 1965px #FFF , 1125px 212px #FFF , 1846px 1856px #FFF , 1919px 1807px #FFF , 1597px 433px #FFF , 1130px 970px #FFF , 486px 1631px #FFF , 1301px 1778px #FFF , 1497px 80px #FFF , 1739px 459px #FFF , 581px 308px #FFF , 1726px 188px #FFF , 1776px 1063px #FFF , 1738px 159px #FFF , 298px 327px #FFF , 569px 776px #FFF , 514px 1546px #FFF , 1148px 490px #FFF , 1959px 866px #FFF , 484px 272px #FFF , 1245px 1218px #FFF , 1501px 1303px #FFF , 466px 1667px #FFF , 1451px 1350px #FFF , 1883px 597px #FFF , 1006px 303px #FFF , 109px 228px #FFF , 887px 1784px #FFF , 370px 959px #FFF , 184px 1217px #FFF , 1495px 273px #FFF , 171px 452px #FFF , 1819px 1517px #FFF , 374px 1463px #FFF , 551px 1591px #FFF , 1949px 1813px #FFF , 960px 653px #FFF , 1131px 1298px #FFF , 539px 1591px #FFF , 1774px 162px #FFF , 397px 79px #FFF , 1790px 1232px #FFF , 1415px 1603px #FFF , 1620px 1785px #FFF , 1304px 1533px #FFF , 1257px 67px #FFF , 1805px 481px #FFF , 1255px 1214px #FFF , 946px 968px #FFF , 659px 842px #FFF , 956px 68px #FFF , 609px 534px #FFF , 1253px 1758px #FFF , 8px 252px #FFF , 1914px 272px #FFF , 665px 776px #FFF , 552px 911px #FFF , 1685px 647px #FFF , 1128px 1647px #FFF , 801px 207px #FFF , 1245px 1307px #FFF , 1830px 297px #FFF , 1564px 289px #FFF , 661px 1420px #FFF , 21px 1212px #FFF , 1831px 1653px #FFF , 1231px 1644px #FFF , 1615px 1426px #FFF , 1231px 1658px #FFF , 509px 223px #FFF , 641px 1152px #FFF , 1276px 974px #FFF , 230px 807px #FFF , 924px 1834px #FFF , 1495px 147px #FFF , 598px 1498px #FFF , 1272px 986px #FFF , 796px 1109px #FFF , 1509px 1287px #FFF , 1768px 657px #FFF , 498px 636px #FFF , 1640px 251px #FFF , 244px 1892px #FFF , 843px 23px #FFF , 1305px 1095px #FFF , 7px 1391px #FFF , 1479px 1316px #FFF , 1451px 25px #FFF , 152px 842px #FFF , 1319px 519px #FFF , 993px 571px #FFF , 1317px 936px #FFF , 702px 1743px #FFF , 104px 767px #FFF , 1642px 899px #FFF , 1614px 1719px #FFF , 615px 169px #FFF , 1198px 1832px #FFF , 1476px 1838px #FFF , 1681px 1541px #FFF , 598px 1519px #FFF , 134px 873px #FFF , 657px 316px #FFF , 1860px 508px #FFF , 1502px 1237px #FFF , 1802px 130px #FFF , 620px 1026px #FFF , 1942px 1741px #FFF , 1134px 1262px #FFF , 298px 374px #FFF , 822px 654px #FFF , 1880px 1379px #FFF , 1610px 958px #FFF , 1342px 728px #FFF , 1972px 910px #FFF , 1767px 329px #FFF , 470px 514px #FFF;
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 169px 1144px #FFF , 163px 374px #FFF , 1191px 48px #FFF , 59px 1872px #FFF , 1522px 636px #FFF , 720px 1753px #FFF , 659px 1526px #FFF , 1026px 1044px #FFF , 1379px 398px #FFF , 1233px 1021px #FFF , 600px 1444px #FFF , 1075px 1282px #FFF , 196px 797px #FFF , 1167px 671px #FFF , 1259px 1895px #FFF , 1916px 450px #FFF , 883px 148px #FFF , 968px 377px #FFF , 1506px 689px #FFF , 1265px 1845px #FFF , 767px 1680px #FFF , 1986px 542px #FFF , 675px 315px #FFF , 1760px 367px #FFF , 1702px 411px #FFF , 531px 1139px #FFF , 1638px 1317px #FFF , 1001px 793px #FFF , 1293px 873px #FFF , 1109px 549px #FFF , 609px 1627px #FFF , 585px 1102px #FFF , 1794px 1337px #FFF , 1918px 1911px #FFF , 810px 942px #FFF , 1839px 627px #FFF , 1895px 1662px #FFF , 670px 1958px #FFF , 911px 1534px #FFF , 1006px 634px #FFF , 577px 1549px #FFF , 578px 919px #FFF , 214px 1283px #FFF , 1249px 821px #FFF , 1769px 324px #FFF , 474px 615px #FFF , 1975px 516px #FFF , 306px 34px #FFF , 1266px 1917px #FFF , 525px 642px #FFF , 1693px 1517px #FFF , 674px 740px #FFF , 128px 1148px #FFF , 771px 953px #FFF , 1473px 1800px #FFF , 1512px 1754px #FFF , 1799px 855px #FFF , 1509px 1732px #FFF , 335px 1276px #FFF , 1013px 511px #FFF , 669px 1013px #FFF , 1299px 208px #FFF , 1465px 754px #FFF , 32px 1494px #FFF , 1814px 478px #FFF , 1153px 368px #FFF , 680px 1005px #FFF , 1053px 1140px #FFF , 1237px 704px #FFF , 1371px 320px #FFF , 1692px 1344px #FFF , 703px 1119px #FFF , 244px 1341px #FFF , 242px 47px #FFF , 1812px 600px #FFF , 1070px 456px #FFF , 409px 1521px #FFF , 939px 146px #FFF , 120px 371px #FFF , 1023px 447px #FFF , 1317px 146px #FFF , 258px 912px #FFF , 782px 834px #FFF , 1807px 269px #FFF , 1014px 122px #FFF , 516px 1101px #FFF , 520px 71px #FFF , 89px 718px #FFF , 1428px 31px #FFF , 140px 435px #FFF , 224px 351px #FFF , 1019px 1007px #FFF , 174px 356px #FFF , 965px 13px #FFF , 1224px 395px #FFF , 1054px 333px #FFF , 766px 1644px #FFF , 100px 395px #FFF , 768px 1395px #FFF , 484px 1778px #FFF , 1986px 1581px #FFF , 1363px 942px #FFF , 73px 1458px #FFF , 1729px 467px #FFF , 521px 195px #FFF , 1891px 579px #FFF , 1684px 822px #FFF , 606px 1341px #FFF , 113px 1116px #FFF , 1177px 1515px #FFF , 458px 1854px #FFF , 372px 121px #FFF , 1272px 1430px #FFF , 683px 1322px #FFF , 115px 497px #FFF , 826px 1480px #FFF , 118px 407px #FFF , 549px 192px #FFF , 144px 636px #FFF , 1969px 1391px #FFF , 1183px 935px #FFF , 194px 1545px #FFF , 1351px 1400px #FFF , 1343px 1319px #FFF , 1428px 1490px #FFF , 1423px 1187px #FFF , 1350px 26px #FFF , 1809px 1937px #FFF , 1995px 797px #FFF , 1276px 466px #FFF , 782px 998px #FFF , 610px 777px #FFF , 1279px 924px #FFF , 923px 241px #FFF , 539px 726px #FFF , 1326px 1238px #FFF , 1144px 35px #FFF , 1725px 400px #FFF , 76px 1718px #FFF , 4px 279px #FFF , 791px 432px #FFF , 1957px 225px #FFF , 855px 692px #FFF , 1778px 650px #FFF , 1902px 526px #FFF , 1587px 1246px #FFF , 1835px 164px #FFF , 1559px 1778px #FFF , 1247px 232px #FFF , 1551px 1920px #FFF , 1170px 1322px #FFF , 680px 510px #FFF , 635px 33px #FFF , 977px 261px #FFF , 125px 1491px #FFF , 535px 1560px #FFF , 906px 1962px #FFF , 95px 924px #FFF , 423px 1840px #FFF , 812px 428px #FFF , 551px 1267px #FFF , 203px 1284px #FFF , 1704px 734px #FFF , 1838px 202px #FFF , 94px 1772px #FFF , 568px 1649px #FFF , 313px 741px #FFF , 919px 537px #FFF , 489px 522px #FFF , 496px 1881px #FFF , 836px 20px #FFF , 1243px 1670px #FFF , 82px 397px #FFF , 860px 850px #FFF , 1395px 1715px #FFF , 862px 276px #FFF , 207px 735px #FFF , 195px 854px #FFF , 602px 1093px #FFF , 1483px 86px #FFF , 213px 563px #FFF , 517px 1332px #FFF , 1295px 1565px #FFF , 1610px 122px #FFF , 1527px 1773px #FFF , 169px 1075px #FFF , 1145px 1614px #FFF , 1355px 201px #FFF , 1402px 1192px #FFF , 385px 1843px #FFF , 1674px 634px #FFF , 1238px 1273px #FFF , 1564px 696px #FFF , 838px 1340px #FFF , 1358px 1223px #FFF , 215px 422px #FFF , 123px 700px #FFF , 334px 1px #FFF , 1269px 1124px #FFF , 3px 999px #FFF;
  animation: animStar 100s linear infinite;
}
#stars2:after {
  content: " ";
  position: absolute;
  top: 0px;
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: 169px 1144px #FFF , 163px 374px #FFF , 1191px 48px #FFF , 59px 1872px #FFF , 1522px 636px #FFF , 720px 1753px #FFF , 659px 1526px #FFF , 1026px 1044px #FFF , 1379px 398px #FFF , 1233px 1021px #FFF , 600px 1444px #FFF , 1075px 1282px #FFF , 196px 797px #FFF , 1167px 671px #FFF , 1259px 1895px #FFF , 1916px 450px #FFF , 883px 148px #FFF , 968px 377px #FFF , 1506px 689px #FFF , 1265px 1845px #FFF , 767px 1680px #FFF , 1986px 542px #FFF , 675px 315px #FFF , 1760px 367px #FFF , 1702px 411px #FFF , 531px 1139px #FFF , 1638px 1317px #FFF , 1001px 793px #FFF , 1293px 873px #FFF , 1109px 549px #FFF , 609px 1627px #FFF , 585px 1102px #FFF , 1794px 1337px #FFF , 1918px 1911px #FFF , 810px 942px #FFF , 1839px 627px #FFF , 1895px 1662px #FFF , 670px 1958px #FFF , 911px 1534px #FFF , 1006px 634px #FFF , 577px 1549px #FFF , 578px 919px #FFF , 214px 1283px #FFF , 1249px 821px #FFF , 1769px 324px #FFF , 474px 615px #FFF , 1975px 516px #FFF , 306px 34px #FFF , 1266px 1917px #FFF , 525px 642px #FFF , 1693px 1517px #FFF , 674px 740px #FFF , 128px 1148px #FFF , 771px 953px #FFF , 1473px 1800px #FFF , 1512px 1754px #FFF , 1799px 855px #FFF , 1509px 1732px #FFF , 335px 1276px #FFF , 1013px 511px #FFF , 669px 1013px #FFF , 1299px 208px #FFF , 1465px 754px #FFF , 32px 1494px #FFF , 1814px 478px #FFF , 1153px 368px #FFF , 680px 1005px #FFF , 1053px 1140px #FFF , 1237px 704px #FFF , 1371px 320px #FFF , 1692px 1344px #FFF , 703px 1119px #FFF , 244px 1341px #FFF , 242px 47px #FFF , 1812px 600px #FFF , 1070px 456px #FFF , 409px 1521px #FFF , 939px 146px #FFF , 120px 371px #FFF , 1023px 447px #FFF , 1317px 146px #FFF , 258px 912px #FFF , 782px 834px #FFF , 1807px 269px #FFF , 1014px 122px #FFF , 516px 1101px #FFF , 520px 71px #FFF , 89px 718px #FFF , 1428px 31px #FFF , 140px 435px #FFF , 224px 351px #FFF , 1019px 1007px #FFF , 174px 356px #FFF , 965px 13px #FFF , 1224px 395px #FFF , 1054px 333px #FFF , 766px 1644px #FFF , 100px 395px #FFF , 768px 1395px #FFF , 484px 1778px #FFF , 1986px 1581px #FFF , 1363px 942px #FFF , 73px 1458px #FFF , 1729px 467px #FFF , 521px 195px #FFF , 1891px 579px #FFF , 1684px 822px #FFF , 606px 1341px #FFF , 113px 1116px #FFF , 1177px 1515px #FFF , 458px 1854px #FFF , 372px 121px #FFF , 1272px 1430px #FFF , 683px 1322px #FFF , 115px 497px #FFF , 826px 1480px #FFF , 118px 407px #FFF , 549px 192px #FFF , 144px 636px #FFF , 1969px 1391px #FFF , 1183px 935px #FFF , 194px 1545px #FFF , 1351px 1400px #FFF , 1343px 1319px #FFF , 1428px 1490px #FFF , 1423px 1187px #FFF , 1350px 26px #FFF , 1809px 1937px #FFF , 1995px 797px #FFF , 1276px 466px #FFF , 782px 998px #FFF , 610px 777px #FFF , 1279px 924px #FFF , 923px 241px #FFF , 539px 726px #FFF , 1326px 1238px #FFF , 1144px 35px #FFF , 1725px 400px #FFF , 76px 1718px #FFF , 4px 279px #FFF , 791px 432px #FFF , 1957px 225px #FFF , 855px 692px #FFF , 1778px 650px #FFF , 1902px 526px #FFF , 1587px 1246px #FFF , 1835px 164px #FFF , 1559px 1778px #FFF , 1247px 232px #FFF , 1551px 1920px #FFF , 1170px 1322px #FFF , 680px 510px #FFF , 635px 33px #FFF , 977px 261px #FFF , 125px 1491px #FFF , 535px 1560px #FFF , 906px 1962px #FFF , 95px 924px #FFF , 423px 1840px #FFF , 812px 428px #FFF , 551px 1267px #FFF , 203px 1284px #FFF , 1704px 734px #FFF , 1838px 202px #FFF , 94px 1772px #FFF , 568px 1649px #FFF , 313px 741px #FFF , 919px 537px #FFF , 489px 522px #FFF , 496px 1881px #FFF , 836px 20px #FFF , 1243px 1670px #FFF , 82px 397px #FFF , 860px 850px #FFF , 1395px 1715px #FFF , 862px 276px #FFF , 207px 735px #FFF , 195px 854px #FFF , 602px 1093px #FFF , 1483px 86px #FFF , 213px 563px #FFF , 517px 1332px #FFF , 1295px 1565px #FFF , 1610px 122px #FFF , 1527px 1773px #FFF , 169px 1075px #FFF , 1145px 1614px #FFF , 1355px 201px #FFF , 1402px 1192px #FFF , 385px 1843px #FFF , 1674px 634px #FFF , 1238px 1273px #FFF , 1564px 696px #FFF , 838px 1340px #FFF , 1358px 1223px #FFF , 215px 422px #FFF , 123px 700px #FFF , 334px 1px #FFF , 1269px 1124px #FFF , 3px 999px #FFF;
}

#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 764px 788px #FFF , 984px 419px #FFF , 138px 1103px #FFF , 608px 109px #FFF , 359px 1179px #FFF , 473px 331px #FFF , 1349px 1393px #FFF , 1852px 1532px #FFF , 170px 1372px #FFF , 1673px 1092px #FFF , 1087px 556px #FFF , 1720px 1514px #FFF , 1495px 1229px #FFF , 344px 1758px #FFF , 480px 899px #FFF , 51px 1079px #FFF , 262px 1978px #FFF , 1574px 30px #FFF , 941px 1972px #FFF , 646px 348px #FFF , 1586px 369px #FFF , 218px 1016px #FFF , 1731px 119px #FFF , 146px 1097px #FFF , 50px 724px #FFF , 1925px 1740px #FFF , 505px 1942px #FFF , 1807px 1062px #FFF , 967px 1456px #FFF , 1639px 856px #FFF , 279px 1437px #FFF , 139px 925px #FFF , 121px 1389px #FFF , 1654px 769px #FFF , 1971px 269px #FFF , 1683px 1324px #FFF , 1342px 202px #FFF , 587px 578px #FFF , 1480px 456px #FFF , 1828px 1576px #FFF , 768px 1120px #FFF , 71px 857px #FFF , 656px 587px #FFF , 412px 242px #FFF , 236px 380px #FFF , 337px 1829px #FFF , 527px 1671px #FFF , 561px 635px #FFF , 112px 1170px #FFF , 556px 1129px #FFF , 286px 277px #FFF , 1328px 1752px #FFF , 1202px 520px #FFF , 1487px 126px #FFF , 1866px 716px #FFF , 1084px 711px #FFF , 1404px 1357px #FFF , 513px 238px #FFF , 231px 588px #FFF , 785px 1284px #FFF , 433px 1501px #FFF , 1319px 616px #FFF , 1834px 1265px #FFF , 207px 1086px #FFF , 55px 1873px #FFF , 1145px 248px #FFF , 1980px 398px #FFF , 59px 445px #FFF , 1682px 253px #FFF , 1446px 9px #FFF , 320px 908px #FFF , 1034px 351px #FFF , 66px 1061px #FFF , 811px 1283px #FFF , 1780px 1092px #FFF , 687px 1363px #FFF , 1729px 385px #FFF , 1532px 140px #FFF , 153px 835px #FFF , 1318px 1877px #FFF , 10px 689px #FFF , 46px 1919px #FFF , 1098px 23px #FFF , 1140px 808px #FFF , 1364px 1174px #FFF , 139px 1295px #FFF , 1491px 1867px #FFF , 1753px 544px #FFF , 1518px 500px #FFF , 1739px 1422px #FFF , 1330px 566px #FFF , 502px 647px #FFF , 1001px 854px #FFF , 1234px 1855px #FFF , 230px 959px #FFF , 1648px 34px #FFF , 932px 431px #FFF , 1119px 605px #FFF , 1518px 39px #FFF , 1010px 1246px #FFF;
  animation: animStar 150s linear infinite;
}
#stars3:after {
  content: " ";
  position: absolute;
  top: 0px;
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: 764px 788px #FFF , 984px 419px #FFF , 138px 1103px #FFF , 608px 109px #FFF , 359px 1179px #FFF , 473px 331px #FFF , 1349px 1393px #FFF , 1852px 1532px #FFF , 170px 1372px #FFF , 1673px 1092px #FFF , 1087px 556px #FFF , 1720px 1514px #FFF , 1495px 1229px #FFF , 344px 1758px #FFF , 480px 899px #FFF , 51px 1079px #FFF , 262px 1978px #FFF , 1574px 30px #FFF , 941px 1972px #FFF , 646px 348px #FFF , 1586px 369px #FFF , 218px 1016px #FFF , 1731px 119px #FFF , 146px 1097px #FFF , 50px 724px #FFF , 1925px 1740px #FFF , 505px 1942px #FFF , 1807px 1062px #FFF , 967px 1456px #FFF , 1639px 856px #FFF , 279px 1437px #FFF , 139px 925px #FFF , 121px 1389px #FFF , 1654px 769px #FFF , 1971px 269px #FFF , 1683px 1324px #FFF , 1342px 202px #FFF , 587px 578px #FFF , 1480px 456px #FFF , 1828px 1576px #FFF , 768px 1120px #FFF , 71px 857px #FFF , 656px 587px #FFF , 412px 242px #FFF , 236px 380px #FFF , 337px 1829px #FFF , 527px 1671px #FFF , 561px 635px #FFF , 112px 1170px #FFF , 556px 1129px #FFF , 286px 277px #FFF , 1328px 1752px #FFF , 1202px 520px #FFF , 1487px 126px #FFF , 1866px 716px #FFF , 1084px 711px #FFF , 1404px 1357px #FFF , 513px 238px #FFF , 231px 588px #FFF , 785px 1284px #FFF , 433px 1501px #FFF , 1319px 616px #FFF , 1834px 1265px #FFF , 207px 1086px #FFF , 55px 1873px #FFF , 1145px 248px #FFF , 1980px 398px #FFF , 59px 445px #FFF , 1682px 253px #FFF , 1446px 9px #FFF , 320px 908px #FFF , 1034px 351px #FFF , 66px 1061px #FFF , 811px 1283px #FFF , 1780px 1092px #FFF , 687px 1363px #FFF , 1729px 385px #FFF , 1532px 140px #FFF , 153px 835px #FFF , 1318px 1877px #FFF , 10px 689px #FFF , 46px 1919px #FFF , 1098px 23px #FFF , 1140px 808px #FFF , 1364px 1174px #FFF , 139px 1295px #FFF , 1491px 1867px #FFF , 1753px 544px #FFF , 1518px 500px #FFF , 1739px 1422px #FFF , 1330px 566px #FFF , 502px 647px #FFF , 1001px 854px #FFF , 1234px 1855px #FFF , 230px 959px #FFF , 1648px 34px #FFF , 932px 431px #FFF , 1119px 605px #FFF , 1518px 39px #FFF , 1010px 1246px #FFF;
}


@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}



/***************************************************************/
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@700&display=swap');
.middle{
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-direction: column;
  text-align: center;
  overflow: visible; 
  white-space: pre-line;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
}
.end-of-about{
  display: flex;
  justify-content: center;
  justify-items: center;
  text-align: center;
  overflow: visible; 
  white-space: pre-line;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.4rem;
  text-decoration: none;
  list-style-type: none;
  gap: 50px;
}
.end-of-about i{
  cursor: pointer;
}

.tbl-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  text-align: center;
}

.tbl-header {
  background-color: rgba(255, 255, 255, 0.3);
  width: 600px;
  max-width: 600px;
  top: 0;

}


.tbl-content {
  width: 600px;
  height: 300px;
  overflow-x: auto;

  margin-top: 0px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.tbl-content::-webkit-scrollbar {
  width: 0px; /* Adjust as needed */
}

/* Customize the appearance of the scrollbar track */
.tbl-content::-webkit-scrollbar-track {
  background-color: transparent; /* or any other color you want */
}

/* Customize the appearance of the scrollbar handle (thumb) */
.tbl-content::-webkit-scrollbar-thumb {
  background-color: transparent; /* or any other color you want */
}

.animals-th {
  padding: 15px ;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  max-width: 150px;
  width:150px;
  margin: 0;

}

.animals-td {
  word-wrap: break-word;
  padding: 15px;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  max-width: 150px;
  width:150px;

}

.loading{
  
}


